<div class="contentPanel room">

	<!-- this component uses bindings -->
	<gw-room-status-header room="ctrl.room"></gw-room-status-header>

	<div class="ui padded grid">
		<div class="two column row">
			<div class="column">
				<!-- this component uses require -->
				<gw-room-reservation-list></gw-room-reservation-list>
			</div>
			<div class="column">
				<!-- this component uses bindings -->
				<gw-room-reservation-form room="ctrl.room" on-submitted="ctrl.onSubmitted()"></gw-room-reservation-form>
			</div>
		</div>
	</div>
</div>
