<div class="contentPanel login">
	<div class="ui middle aligned center aligned grid buttonGrid">
		<div class="row" ng-show="ctrl.getLoggedInUser()">
			<div class="column">
				<img class="ui avatar medium image" ng-src="{{ ctrl.getLoggedInUser().photoURL }}">
				<h1 class="ui header">{{ ctrl.getLoggedInUser().displayName }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<button class="ui large left attached button"
						ng-click="ctrl.loginService.login(ctrl.refresh)"
						ng-disabled="ctrl.getLoggedInUser()">
						Login
				</button>
				<button class="ui large right attached button"
						ng-click="ctrl.loginService.logout()"
						ng-disabled="!ctrl.getLoggedInUser()">
						Logout
				</button>
			</div>
		</div>
	</div>
</div>
