html {
  background: url(../assets/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background: none;
}

.ui.inverted.list .list>.item .header, .ui.inverted.list>.item .header {
	margin-bottom: 1em;
}

input.ng-invalid {
  background-color: red !important;
}
